/* #App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
} */

*{
  padding: 0;
  margin: 0;
  font-family: 'ubuntu', sans-serif;
}
/* 
#App main{
  margin-left: 30px;
} */

/*Responsividade*/
/*qnd chegar a 1000px eu alinho tudo em coluna pra ficar 1 abaixo do outro*/

/* Estilos gerais + Parte de fundo */
  #App{
      flex-direction: column;
      /* height: 100vh; */
      margin: 0px;
      /* padding: 30px 0px; */
  }

  body{
    background: linear-gradient(180deg, #2c3035 0%, #2D3540 100%);
    height: 100vh;
  }

  .Logo {
    width: 50px;
    height: 50px;
    margin-right: 1em;
  }

  .Header {
    background-color: #22262B;
    width: 100%;
    height: 0.6fr;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 5px 12px;
    z-index: 99999;
  }

  .back {
    margin-left: 1em;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100%;
    max-width: 100vw;
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #2c3035 0%, #2c3542 100%);
    box-shadow: rgba(0, 0, 0, 0.4) 0px 7px 18px;
    padding: 2rem;
    border-radius: 1rem;
    color: #fdfdfd;
    padding: 20px 0;
  }

  main h1 {
    margin-top: 30px;
  }

/* Estilos gerais */
  .title {
    color:  #F2B705;
    margin: 0vh 0 3vh 0;
  }

  /* .subtitle {
  } */

  .hide {
    display: none;
}

/* FORMS */

form {
  background: linear-gradient(180deg, rgb(245, 196, 50), #d4a619 100%);
  max-width: 90vw;
  color: #2D3540;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  border-radius: 1em;
  margin-bottom: 3vh;
  box-shadow: rgba(0, 0, 0, 0.6) 1px 2px 30px;
}

section {
  max-width: 100vw !important;
  background: linear-gradient(180deg, rgb(245, 196, 50), #d4a619 100%);
  max-width: 90vw;
  color: #2D3540;
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  /* width: 90%; */
  border-radius: 1em;
  /* padding: 20px 0px; */
  margin-bottom: 3vh;
  box-shadow: rgba(0, 0, 0, 0.6) 1px 2px 30px;
}

form h3 {
  margin: auto;
  padding: 20px 0px;
}

form .input-block {
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 20px 20px;

}

.input-block label {
  width: fit-content;
  font-weight: bold;
  text-align: center;

}

.input-block input {
  width: 80vw;
  height: 4vh;
  margin: 5px 0px 5px 0px;
  border: none;
  border-radius: 2em;
  padding: 0 1vw 0 0.5vw;
  text-align: center;
  font-size: 1.3em;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px;
}

.form-button {
  border-radius: 2em;
  width: 35vw;
  height: 40px;
  /* margin: auto; */
  border: none;
  cursor: pointer;
  margin: 0 1em 0.5em 1em;
  font-size: 0.7em;
  background-color: #2D3540;
  color: #F2DBAE;
  transition: ease 500ms;
  box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* @media only screen and (max-width: 375px) {
  .form-button {
    width: 35vw;
    font-size: 0.7em;
  }
} */

/* RESULTS */

.result {
  display: flex;
  padding: 10px;
  max-width: 85vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(245, 196, 50), #d4a619 100%);
  box-shadow:  rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.result span {
  font-size: 1.5em;
  font-weight: 500;

}

.result-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 1em;
}

.result-title span{
  font-size: 1.1em;
  margin: 0 4vw;
  font-weight: bold;
}

.result-title img {
  height: 9vh;
  width: 20vw;
}

.result-date {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.result-date img {
  height: 13vh;
}

.result-data {
  display: flex;
  flex-direction: column;
  line-height: 4vh;
}

.containerBtn {
  /* display: flex; */
  margin-bottom: 3vh;
}


.result-prevision {
  display: flex;
  padding: 2vh 10vw;
  padding: 10px;
  max-width: 90vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, rgb(245, 196, 50), #d4a619 100%);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 12px;
}

.result-prevision span {
  font-size: 1.2em;
  font-weight: bold;
}

.result-prevision p {
  font-size: 0.9em;

}

 /* ----- Day a Day x ----- */
.forecast {
  display: inline-block;
  background: #22262B;
  width: 80vw;
  border-radius: 2em !important;
  margin-top: 0.5em;
}

.forecast-days {
  display: flex;
}

.forecast-days .option {
  height: 5vh;
  width: 15vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px;
  text-align: center;
  transition: all 0.3s ease;
  justify-content: center;
}

 .forecast input[type="radio"] {
  display: none;
 } 

 .forecast-days .option span {
  font-size: 0.8em;
  color: #F2B705;
  /* padding: 0 3em */
 }

 .forecast #day-one:checked:checked ~ .day-one {
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
 }

 .forecast #day-five:checked:checked ~ .day-five {
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
 }

 .forecast #day-one:checked:checked ~ .day-one,
 .forecast #day-two:checked:checked ~ .day-two,
 .forecast #day-three:checked:checked ~ .day-three,
 .forecast #day-four:checked:checked ~ .day-four,
 .forecast #day-five:checked:checked ~ .day-five {
  /* border-color: #0069d9; */
  border-color: #2D3540;
  background: #F29F05;
 }

 .forecast #day-one:checked:checked ~ .day-one span,
 .forecast #day-two:checked:checked ~ .day-two span,
 .forecast #day-three:checked:checked ~ .day-three span,
 .forecast #day-four:checked:checked ~ .day-four span,
 .forecast #day-five:checked:checked ~ .day-five span {
  color: #fff;
 }

 .forecast-hours {
  width: 75vw;
  height: 5vh;
  padding: 1vh;
  align-content: center;
  justify-items: center;
  border-radius: 30px;
  background: #22262B;
 }

 .forecast-hours input[type="range"] {
  width: 65vw;
 }

 .forecast-hours span {
  font-size: 1em;
  color:rgb(245, 196, 50)
 }

 /* -------------- RESULTADOS DAS PREVISÕES HORA A HORA -------------- */
 .forecast-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

 .forecast-results-weather {
  /* background-color: #0069d9; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  padding: 5px;
  width: 90%;
 }

 .forecast-results-weather span {
  font-weight: 400;
  line-height: 30px;

  width: 100%;
  text-align: center;
 }

 .forecast-results-temperature{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;

  width: 90%;
  
  padding: 20px;

 }

 .forecast-results-temperature span {
  margin: 10px;
  font-weight: 500;
  line-height: 20px;
 }

 .forecast-results-temperature h4 {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
 }