/* #App {
  max-width: 1200px;
  margin: 0 auto;
  padding: 60px 30px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
} */

*{
  padding: 0;
  margin: 0;
  font-family: 'ubuntu', sans-serif;
}
/* 
#App main{
  margin-left: 30px;
} */

/*Responsividade*/
/*qnd chegar a 1000px eu alinho tudo em coluna pra ficar 1 abaixo do outro*/

/* Estilos gerais + Parte de fundo */
@media (max-width: 1000px) {
  #App{
      flex-direction: column;
      /* height: 100vh; */
      margin: 0px;
      /* padding: 30px 0px; */
  }

  body{
    background: linear-gradient(180deg, #2c3035 0%, #2D3540 100%);
  }

  .Header {
    background-color: red;
    width: 100%;
    height: 0.6fr;
    
    display: flex;
    justify-content: space-between;
  }

  main {
    display: flex;
    flex-direction: column;
    height: 100%;

    align-items: center;
    justify-content: center;

    background: linear-gradient(180deg, #2c3035 0%, #2c3542 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 2rem;
    border-radius: 1rem;
    color: #fdfdfd;   
    padding: 0;
  }

  main h1 {
    margin-top: 30px;
  }

/* Estilos gerais */
  .title {
    color:  #F2B705;
  }

  .subtitle {
  }

  .hide {
    display: none;
}

/* FORMS */

form {    
  /* background-color: #F2B705; */
  background: linear-gradient(180deg, rgb(245, 196, 50), #d4a619 100%);

  color: #2D3540;

  display: grid;
  grid-template-columns: 1fr;
  
  width: 90%;
  border-radius: 4px;
  padding: 10px 0px;
}

form h3 {
  margin: auto;
  padding: 20px 0px;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 0px 20px 20px;
}

.input-block label {
  width: fit-content;
  font-weight: bold;

}

.input-block input {
  width: 40%;
  margin: 5px 0px 5px 0px;
  padding: 8px;
  border: none;
  flex: 1;
}

.form-button {
  border-radius: 5px;
  width: 20vh;
  height: 40px;
  margin: auto;
  border: none;
  cursor: pointer;

  background-color: #2D3540;
  color: #F2DBAE;
}

/* RESULTS */

.result {
  margin: 20px 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.result span {
  font-size: 20px;
  font-weight: 400;
}

.result-title {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0px 100px;
}

.result-title span{
  font-size: 28px;
  margin: 0px 20px;
  font-weight: bold;
}

.result-title img {
  height: 30px;
  width: 40px;
}

.result-date {
  display: grid;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  align-items: center;
}

.result-date img {
  height: 90px;
}

.result-data {
  display: flex;
  flex-direction: column;
  line-height: 30px;
}
/* #App main{
    margin-left: 0;
    margin-top: 30px;
}

  #App aside{/*ocupar a tela toda com o "cadastro"*/
      /* width: 100%; */
 /*} */

 /* ----- Day a Day Forecast ----- */
.forecast {
  display: inline-block;
}

.forecast-days {
  /* background-color: red; */
  display: flex;
}

.forecast-days .option {
  background: #fff;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  /* margin: 0 10px; */
  text-align: center;
  border-radius: 5px;
  padding: 0 10px;
  border: 2px solid lightgray;
  transition: all 0.3s ease;
}

 .forecast input[type="radio"] {
  display: none;
 } 

 .forecast-days .option span {
  font-size: 20px;
  color: #2D3540;
 }

 .forecast #day-one:checked:checked ~ .day-one,
 .forecast #day-two:checked:checked ~ .day-two,
 .forecast #day-three:checked:checked ~ .day-three,
 .forecast #day-four:checked:checked ~ .day-four,
 .forecast #day-five:checked:checked ~ .day-five {
  /* border-color: #0069d9; */
  border-color: #2D3540;
  background: #0069d9;
 }

 .forecast #day-one:checked:checked ~ .day-one span,
 .forecast #day-two:checked:checked ~ .day-two span,
 .forecast #day-three:checked:checked ~ .day-three span,
 .forecast #day-four:checked:checked ~ .day-four span,
 .forecast #day-five:checked:checked ~ .day-five span {
  color: #fff;
  font-weight: bold;
 }

 /* -------------- RESULTADOS DAS PREVISÕES HORA A HORA -------------- */
 .forecast-results {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 }

 .forecast-results-weather {
  /* background-color: #0069d9; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0;
  padding: 5px;
  width: 90%;
 }

 .forecast-results-weather span {
  font-weight: 400;
  line-height: 30px;

  width: 100%;
  text-align: center;
 }

 .forecast-results-temperature{
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: center;

  width: 90%;
  
  padding: 20px;

 }

 .forecast-results-temperature span {
  margin: 10px;
  font-weight: 500;
  line-height: 20px;
 }

 .forecast-results-temperature h4 {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
 }

}